<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a new contact</a></li>
  <li><a href="/contacts/:id">View contact information</a></li>  
  <li><a href="/contacts/:id/edit">Modify an existing contact</a></li>
  <!-- please complete me with links to other actions -->
</ul>