<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    Brian's craptacular CRM
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contacts">All Contacts</a></li>
    </ul>
  </nav>
  <%= yield %>
  <footer>
    Epic footer
  </footer>
</body>
</html>
