<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="outer">
    <header>
      Brian's CRM
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/contacts">Contacts</a>
    </nav>
    <div class="yield">
      <%= yield %>
    </div> <!-- yield -->
    <footer>
      <div class="footer">
        Epic footer
      </div>
    </footer>
  </div> <!-- outer  -->
</body>
</html>
